/* PlayerCard.css */

.player-card {
  background-color: #333;
  background: linear-gradient(151deg, #333 23.32%, rgba(33, 12, 120, 0.00) 137.29%);
  color: white;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px 5px #222222e6;
  text-align: center;
  min-width: 330px;
  max-width: 330px;
}

.player-card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  display: flex;
  /* Aggiunto display: flex */
  align-items: center;
  /* Centrare verticalmente */
  justify-content: center;
  /* Centrare orizzontalmente */
  color: white;
}

.player-card .player-name {
  border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
}

.player-card .player-name:hover {
  transition: 0.2s;
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 5px #222222e6;
  background-color: #5b5a5a;
  color: white;
}


.team-logo {
  width: 40px;
  /* Imposta la larghezza desiderata per tutti i loghi */
  height: 40px;
  /* Imposta l'altezza desiderata per tutti i loghi */
  margin-left: 8px;
  /* Aggiunto margine a sinistra per separare il logo dal nome */
  vertical-align: middle;
}

.player-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.info-icon {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.info-item span {
  font-size: 0.9rem;
}

.player-card:hover {
  transition: 0.2s;
  box-shadow: 0px 0px 12px 7px #222222e6;
}

.info-box {
  display: flex;
  flex-direction: column;
}

.info-item-container {
  display: flex;
}

/* Aggiunto stile per mantenere la proporzione del logo */
.team-logo {
  object-fit: contain;
}

.team-name {
  margin-left: 5px;
  font-weight: bold;
}


.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.left-empty-box {
  width: 60px;
}

.right-logo-box {
  width: 60px;
  align-items: center;
  padding: 0;
}

.right-logo-box .team-logo {
  width: 60px;
  height: 60px;
  padding: 0 !important;
  margin: 0 !important;
}

.player-name2 {
  font-weight: bolder;
  font-size: 22px;
}

.info-item-cost3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  color: #cc87eb;
}

.info-item-cost3 span {
  font-size: 0.9rem;
}

.info-item-cost2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  color: #fdd550;
}

.info-item-cost2 span {
  font-size: 0.9rem;
}

.info-item-cost1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  color: #a3bdba;
}

.info-item-cost1 span {
  font-size: 0.9rem;
}