/* TeamOfTheWeekCard.css */

.team-of-the-week-card {
    background-color: #333;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 142px;
    height: 201px;
    flex-shrink: 0;
    background: linear-gradient(151deg, #4E5AF4 23.32%, rgba(33, 12, 120, 0.00) 137.29%);
    /* border: 4px solid #6972f1; */
  }

.team-of-the-week-card:hover{
    transition: 0.4s;
    /* box-shadow: 0px 0px 10px 5px #4E5AF4; */
    box-shadow: 0px 0px 10px 5px #7a7ef4;
    transform: translateY(-10px);
}
  
  .team-of-the-week-card div {
    margin-bottom: 8px;
  }
  
  .top-left {
    font-size: 1.2rem;
    font-weight: bolder;
    padding-top:5px;
    padding-left: 5px;
  }
  
  .top-right img {
    width: 40px;
    height: 40px;
  }

  .top-role-logo{
    display: flex;
    justify-content: space-between;
  }
  
  .center {
    position: relative;
    padding-top: 5px;
  }
  
  .empty-circle {
    width: 80px;
    height: 80px;
    border: 6px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .player-avatar {
    width: 100%;
    height: 100%;
    margin:0 auto;
    object-fit: cover;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-self: center;
    font-weight: bolder;
    display: flex;
    padding-top: 9px;
  }
  
  .bottom {
    padding-top: 15px;
    font-size: 18px;
    font-weight: bolder;
  }
  
  